# OSごとの不要なファイル
# macOSの不要なファイル
**/.DS_Store
# Windowsの不要なファイル
**/Thumbs.db
# macOSの隠しファイル
._*
# Windowsの設定ファイル
**/desktop.ini

# Java関連のファイル
# コンパイル後のJavaクラスファイル
**/*.class

# IntelliJ の設定ファイル
.idea/
# ビルド成果物
*.iml
out/
*.class
# Eclipse & IntelliJ project files
logs/
# IntelliJ の設定ディレクトリ（全てのディレクトリに適用）
**/.idea/
# IntelliJ のプロジェクト設定ファイル
**/*.iml
# IntelliJ のプロジェクト設定ファイル
**/*.ipr
# IntelliJ のワークスペース設定ファイル
**/*.iws
# Eclipse のプロジェクト設定ファイル
**/.classpath
# Eclipse のプロジェクト設定ファイル
**/.project
# Eclipse の設定ディレクトリ
**/.settings/

# ビルドディレクトリ
# Eclipse のビルドディレクトリ
**/bin/
# IntelliJ のビルドディレクトリ
**/out/
# Maven のビルドディレクトリ
**/target/
# Gradle のビルドディレクトリ
**/build/
# Gradle の設定ディレクトリ
**/.gradle/
# Maven の設定ディレクトリ
**/.mvn/

# ログファイル
# ログファイル
**/*.log
# 仮想環境や依存関係管理ファイル
**/history.txt
# Node.js の依存関係
**/node_modules/
# Python の仮想環境
**/venv/
# ローカルで生成したJARファイル
**/*.jar
# Webアーカイブファイル
**/*.war
# エンタープライズアーカイブファイル
**/*.ear

# エディタの一時ファイル
# Vim のスワップファイル
**/*.swp
# Vim のオープンファイル
**/*.swo
# エディタでバックアップされたファイル
**/*.bak

# その他の一時ファイル
# 一時ファイル
**/*.tmp

tools/**/node_modules/

ADT/